
body {
  font-family: 'Montserrat';
  background-color: #f1f1f1;
}

h1
{
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 20px;
  color: pink;
  text-align: left;

}

h2
{
  color: pink;
  text-align: center;
}

.center
{
  text-align: center;
}

.font {
  font-size: small;
}

.color {
  color: pink;
}

.containerGallery
{
  padding: 10px;
  margin: auto;
  margin-top: 200px;
  background-color: white;
  width: 85%;
  height: 15vh;
  padding-top: 50px;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 20px;
}

.containerResume
{
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: white;
  width: 80%;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 20px;
}

.containerMe {
  /* I took out the padding and changed the width so it can fit better */
  width: 100%;

  margin: auto;
  background-color: white;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 10px;
}

.containermain
{
/* I took out the padding
  padding: 5px; */
  margin: auto;
  margin-top: auto;
  background-color: white;
  width: 100%;
  height: 80vh;
  /* this one too
  padding-top: 100px; */
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 10px;
}

.containerbodymain
{
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  height: 35vh;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 10px;
}

.navigation
{
  margin: 10px auto;
  margin-bottom: 80px;
}

.horizontaLine
{
  width: 100%;
  margin: auto;
  margin-left: 50px;
}

.horizontaLine li
{
  list-style: none;
  padding: 3px;
  margin-top: 10px;
  background-color: white;
  width: 50%;
  border-radius: 50px;
  text-align: center;
}

.horizontaLine li a
{
  color: pink;
  text-decoration: none;
  font-family: 'Montserrat';
}

.horizontaLine li a:hover
{
  color: lightgray;
}

.grid
{
  width: 100%;
  height: 230vh;
  margin: auto;
  display: grid;
  grid-template-rows: 18% 18% 18% 18%;
  grid-template-columns: 1fr;
}


.grid2
{
  /* I modified the maring padding to make it look better */
  width: 90%;
  height: 20vh;
  margin: auto;
  padding: 10px;
  padding-top: 50px;
  display: grid;
  /* Took out the gap and made it 33 so in total will get you 99.. it will fit better */
  grid-template-rows: 33% 33% 33%;
  /* Again you just needed 1 column instead of 3 */
  grid-template-columns: 1fr ;
  text-align: center;
  justify-content: center;
}

.gridmain div:nth-child(2)
{
  /* Instead of margin I used padding to fit the text
margin-top: 55px; */
padding: 45px;
}

.gridmain
{
width: 100%;
height: 120vh;
margin: auto;
margin-right: 10px;
display: grid;
/* Change this one to fit the image and the rest for the text */
grid-template-rows: 60% 40%;
/* You just needed 1 column, that was the problem */
grid-template-columns:1.5fr;
grid-row-gap: 15px;
}

.portrait
{
  width: 85%;
  display: block;
  margin: auto;
}
